body {
    margin: 25px;
}
.stamp_main {
    padding: 0;
}
.stamp {
    // padding: 220px 0;

    &__card {
        position: relative;
    }

    &__dog {
        width: 100px;
        height: auto;
        position: absolute;
        top: 210px;
        left: 16px;
    }

    &__btn {
        color: #000;
        margin-top: 10px;
        padding: 4px 8px;
        border: 1px solid #c98e8b;
        border-radius: 16px;
        background: #e3c1bf;
    }
}

.inner {
    margin-top: 204px;
    width: max-content;
}

.card {
    background-image: url("./images/stampcard.jpg");
    background-size: contain;
    width: 330px;
    height: 330px;
}

.stamps {
    padding: 8px 3px 3px 3px;
    width: 325px;
    height: 325px;
}

.stamp_img {
    width: 20%;
}

.stamp_tip {
    margin-top: 25px;
}

.tip_wrapper {
    text-align: right;

    right: 0;
}

// スタンプ制覇
.stamp_disp {
    text-align: center;
    // display: none;
}

.disp_complete {
    display: none;
}

.complete_msg {
    margin: 228px auto 162px auto;
    vertical-align: middle;
}
.finish_msg {
    margin: 280px auto 203px auto;
}

.disp_msg_p {
    font-size: 20px;
}

.complete_img {
    text-align: left;
}
.complete_img1 {
    text-align: right;
}

.stamp_top {
    margin-top: 35px;
    text-align: center;
    display: block;
}
