@import "_ress.min.scss";

$mainColor: #FFCDD2;
$fontColor: #3e0808;

body {
    font-size: 16px;
    font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3",
        "Hiragino Kaku Gothic Pro";
    line-height: 1.8em;
    background-color: #fce8e8;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

ul {
    list-style-type: none;
}

main {
    padding: 0 25px;
    position: relative;
}

.back {
    position: absolute;
    top: 230px;
    left: 25px;
    // padding: 25px 35px;
    width: 325px;
    height: 430px;
    // background-color: #fff;
    border-radius: 25px;

    &__text {
        padding-top: 5px;
        color: $fontColor;
        text-align: right;
    }
}

.title {
    color: $fontColor;
    font-size: 16px;
    position: absolute;
    top: 175px;
}

.mannequin {
    &__face {
        position: relative;
    }
}

.menu_locked{
    display: none;
}

.box {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 1.5px solid $fontColor;
    border-radius: 4px;k

    &__jaw {
        top: 200px;
        left: 160px;
    }

    &__eye {
        top: 125px;
        left: 190px;
    }

    &__cheek {
        top: 160px;
        left: 120px;
    }

    &__mouse {
        top: 190px;
        left: 160px;
    }

    &__faceline {
        top: 190px;
        left: 200px;
    }

    &__shiwa {
        top: 165px;
        left: 190px;
    }
}



/* カウントダウン */

/* stamp Btn */
.nikukyuuBtn {
    display: block;
}

.nikukyuuNone {
    display: none;
}

/* popup */
.popup {
    position: absolute;
    top: 255px;
    left: 50px;
    width: 280px;
    height: 280px;
    background-color: #fff;
    border-radius: 20px;

    &__position {
        padding: 20px;
        position: relative;
    }

    &__title {
        color: $fontColor;
        font-size: 16px;
    }

    &__exercise {
        color: $fontColor;
        font-size: 16px;
        text-align: center;
    }

    &__videobox {
        text-align: center;
    }

    &__video {
        display: inline-block;
        width: 200px;
        height: 100px;
        background: #c9c9c9;
        border-radius: 20px;
    }

    &__btn {
        background: #3e0808;
        width: 50px;
        color: #fff;
        font-size: 15px;
        text-align: center;
        border-radius: 20px;
    }

    &__box {
        position: absolute;
        padding-right: 20px;
        right: 0;
        top: 225px;
    }

    &__text {
        color: $fontColor;
        text-align: center;
    }

    &__period {
        padding: 15px 10px 0;
        color: $fontColor;
    }

    &__list {
        padding: 5px 3px 3px;
        border-bottom: 1px solid $fontColor;
        border-radius: 1px;
    }

    &__exerciseBox {
        display: none;
    }

    &__date {
        display: none;
    }
}

.cancelBox {
    text-align: right;
}

.view {
    display: block;
}

.choice {
    color: #fff;
    background-color: #956868;
}

// ローカルストレージを使う
