body {
    background-color: #fff;
}

main {
    padding: 0;
}

.video {
    background-color: #3e0808;
    width: 100%;
    height: 400px;

    &__text {
        padding-top: 190px;
        padding-left: 0%;
        color: #fff;
        font-size: 100px;
        text-align: center;
    }
}

.videowaku {
    position: relative;
    width: auto;
    height: 300px;
}

.camera {
    background-color: #fff;
    width: 100%;
    height: 100%;

    &__video {
        width: 100%;
        height: auto;
    }

    &__btn {
        position: absolute;
        top: 730px;
        left: 30px;
        padding: 6px 8px;
        border: 1px solid #829cba;
        border-radius: 16px;
        background: #b4c8e0;
    }

    &__stamp {
        color: #000;
    }

    &__stop {
        position: absolute;
        top: 730px;
        left: 130px;
    }
}
